<%= form_with(model: chapter, class: "contents") do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul class="list-disc ml-6">
        <% chapter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:title].none?, "border-red-400 focus:outline-red-600": chapter.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:subtitle].none?, "border-red-400 focus:outline-red-600": chapter.errors[:subtitle].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :image_header, "Header Image" %>
    <%= form.file_field :image_header, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chapter.errors[:image_header].none?, "border-red-400 focus:outline-red-600": chapter.errors[:image_header].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_text_area :content, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full min-h-96", {"border-gray-400 focus:outline-blue-600": chapter.errors[:content].none?, "border-red-400 focus:outline-red-600": chapter.errors[:content].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
